$background-color: #00111a;
$background-color-sec: #001724;

$nav-bg-color: #002033;
$nav-highlight: #007ec7;
$glow-color: #00f2fa;

* {
  padding: 0;
  margin: 0;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.userAvatar {
  position: fixed;
  right: 0.5em;
  top: 0.5em;
  height: 4em;
  width: 4em;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
  }

  &:hover {
    cursor: pointer;
  }
}

body {
  height: 100vh;
  background-color: $background-color;
  background: radial-gradient(
    circle at top right,
    $background-color-sec,
    $background-color
  );
  background-repeat: no-repeat;

  display: grid;
  grid-template-rows: auto 3.5rem;
}

main {
  overflow-y: scroll;
}

nav {
  background-color: $nav-bg-color;
  border-top: 1px solid rgba($nav-highlight, 0.1);
  box-shadow: 0 0 5rem 5rem rgba($glow-color, 0.04),
    0 0 2rem 2rem rgba($glow-color, 0.03),
    inset 0 4rem 4rem -3rem rgba($glow-color, 0.06);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-button {
  font-size: 0.75em;
  opacity: 0.8;
  background-color: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 87%;

  img {
    height: 1.8rem;
  }

  p {
    color: hsla(0, 0, 100, 0.7);
  }
}
