$background-color: #00111a;
$background-color-sec: #001724;

$nav-bg-color: #002033;
$nav-highlight: #007ec7;
$glow-color: #00f2fa;

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.outlined-button {
  background: none;
  flex-direction: row;
  padding: 4px 16px;
  height: 36px;
  border: 1px solid rgba($glow-color, 0.55);
  color: rgba($glow-color, 0.55);
  border-radius: 4px;
}

#avatar-login {
  position: fixed;
  right: 0.5em;
  top: 0.5em;

  &:hover {
    cursor: pointer;
  }
}

body {
  height: 100vh;
  background-color: $background-color;
  background: radial-gradient(
    circle at top right,
    $background-color-sec,
    $background-color
  );
  background-repeat: no-repeat;

  display: grid;
  grid-template-rows: auto 3.5rem;
}

main {
  overflow-y: scroll;
}

nav {
  background-color: $nav-bg-color;
  border-top: 1px solid rgba($nav-highlight, 0.1);
  box-shadow: 0 0 5rem 5rem rgba($glow-color, 0.04),
    0 0 2rem 2rem rgba($glow-color, 0.03),
    inset 0 4rem 4rem -3rem rgba($glow-color, 0.06);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-button {
  font-size: 0.75em;
  opacity: 0.8;
  background-color: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 87%;

  img {
    height: 1.8rem;
  }

  p {
    color: hsla(0, 0, 100, 0.7);
  }
}

#login-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}

#login-wrapper {
  color: white;
  position: absolute;
  bottom: 8em;
  right: 1em;
  left: 1em;
  padding: 20px;
  background-color: $background-color;
  border-radius: 15px;
  display: flex;
  flex-direction: column;

  &::after {
    content: '';
    z-index: -2;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
  }

  h1 {
    color: rgba($nav-highlight, 0.9);
    align-self: center;
  }

  label {
    color: rgba(255, 255, 255, 0.7);
    font-size: small;
    margin-top: 16px;
    margin-bottom: 3px;
  }

  input {
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
  }

  #login-buttons {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;

    #login {
      background: rgba($glow-color, 0.6);
      border: none;
      color: $background-color;
    }

    button {
      width: 45%;
      font-size: large;
    }
  }
}
