@use './globalVars';

#weight-chart {
  background-color: rgba(var(--max-white-rgb), 0.1);

  .tick line {
    stroke: rgba(var(--max-white-rgb), 0.2);
  }

  circle {
    fill: RGBA(240, 240, 240, 0.3);
  }
}

.input-weight {
  color: var(--max-white);
  display: flex;
  margin: 0.5em 0 1em 0;
  align-items: center;
  justify-content: space-evenly;

  #weight {
    width: 5em;
    font-size: 1em;
  }

  #date {
    width: 9em;
  }
}

#weight-info-zone {
  background-color: rgba(var(--max-white-rgb), 0.1);
  font-size: 0.9em;

  td:nth-child(2n - 1) {
    color: RGBA(var(--max-white-rgb), 0.7);
  }

  td:nth-child(2n) {
    color: var(--max-white);
  }
}

#weightRawData {
  color: var(--max-white);
  width: 99%;
  border-collapse: collapse;

  td:nth-child(1) {
    width: 2.5em;
  }
  td:nth-child(2) {
    width: 40%;
    text-align: left;
    padding-left: 1em;
  }
  td:nth-child(3) {
    width: 100%;
    text-align: center;
  }
  td:nth-child(4) {
    width: 10%;
    text-align: left;
  }

  .entry-row {
    border-bottom: 1px solid rgba(var(--max-white-rgb), 0.16);
  }
}

.trend-span {
  color: RGBA(var(--max-white-rgb), 0.7);
  font-size: 0.9em;
}

.day-card {
  background-color: RGBA(var(--max-white-rgb), 0.16);
  height: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.month {
  height: 2em;
  font-weight: bold;
  font-size: large;
  color: RGBA(var(--max-white-rgb), 0.7);
  padding-left: 0.4em;
}

.year {
  height: 1.8em;
  font-weight: bold;
  color: RGBA(var(--max-white-rgb), 0.7);
  padding-left: 0.4em;
  vertical-align: bottom;
}
